html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #fc5c7d, #6a82fb);
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  height: 100vh;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transButton {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;  
  color: rgba(255, 255, 255, 0.84);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 400;
}

.transDiv {
  background: rgba(255, 255, 255, 0.3);
  /* filter: blur(4px); */
  border-radius: 20px;
}

.hFull {
  height: 100%;
}
