@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
  background: linear-gradient(
      180deg,
      rgba(105, 0, 114, 0.3) 0%,
      rgba(110, 19, 118, 0) 100%
    ),
    linear-gradient(180deg, rgba(166, 49, 207, 0) 0%, #263899 84.25%);
  height: 100vh;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transButton {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.84);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 400;
}

.transDiv {
  background: rgba(255, 255, 255, 0.3);
  /* filter: blur(4px); */
  border-radius: 20px;
}

