@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");


.tagline {
  font-family: "Meie Script";
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  font-size: 40px;
}

h1,
p,
label {
  color: #ffffff;
}


@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");

.quando {
  font-family: "Quando", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");

.ramaraja {
  font-family: "Ramaraja", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.playfair {
  font-family: 'Playfair Display', serif;
}

input.form-control {
  background-color: #e5e5e5;
}
